# Fichiers auxiliaires LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)

# Bibliographie
*.bbl
*.bcf
*.blg
*.run.xml

*/report/main.pdf

# Dossiers temporaires
*.tmp
*.bak

__pycache__/
*.pyc
*.pyo
*.pyd